.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:bg-gradient-btn-2 {
  background-image: linear-gradient(90deg, #111827, rgba(17, 24, 39, .9) 16.06%, rgba(17, 24, 39, .8) 98.85%, #111827);
}

.hover\:bg-gradient-btn-2:hover {
  background-image: linear-gradient(90deg, #1b2334, rgba(25, 40, 71, 0.9) 16.06%, rgba(26, 32, 45, 0.8) 98.85%, #213153);
}

.terms__modal-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #7b61ff;
}