@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* FAQs Sections */

.open-answer-container {
  --radix-accordion-content-height: var(--radix-collapsible-content-height);
  --radix-accordion-content-width: var(--radix-collapsible-content-width);
  --radix-collapsible-content-height: 96px;
  --radix-collapsible-content-width: 760px;
}

/* FAQs Sections ends */

.image-transparent {
  color: transparent;
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:bg-gradient-btn-2 {
  background-image: linear-gradient(90deg, #111827, rgba(17, 24, 39, .9) 16.06%, rgba(17, 24, 39, .8) 98.85%, #111827);
}

.hover\:bg-gradient-btn-2:hover {
  background-image: linear-gradient(90deg, #1b2334, rgba(25, 40, 71, 0.9) 16.06%, rgba(26, 32, 45, 0.8) 98.85%, #213153);
}

.terms__modal-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: #7b61ff;
}

.bg-gradient-0068EC-00BBF9-21-73 {
  background-image: var(--Gradient-5, linear-gradient(142deg, #0068ec 21.8%, #00bbf9 73.22%));
}

.hover\:bg-gradient-0068EC-00BBF9-21-76:hover {
  background-image: var(--Gradient-5, linear-gradient(162deg, #0068ec 21.8%, #00bbf9 76.22%));
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

.bg-signup {
  background-image: url(./assets/images/login.png);
}

@media (min-width: 992px) {
  .laptopSm\:flex {
      display: flex;
  }
}

@media (min-width: 992px) {
  .laptopSm\:grid-rows-1 {
      grid-template-rows: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 992px) {
  .laptopSm\:min-h-full {
      min-height: 100%;
  }
}

@media (min-width: 992px) {
  .laptopSm\:h-screen {
      height: 100vh;
  }
}

@media only screen and (min-width: 992px) {
  .register-grid {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .laptopSm\:max-w-\[600px\] {
      max-width: 600px;
  }
}
@media (min-width: 992px) {
  .laptopSm\:min-h-screen {
      min-height: 100vh;
  }
}

@media (min-width: 640px) {
  .sm\:pt-16 {
      padding-top: 4rem;
  }
}
@media (min-width: 640px) {
  .sm\:pr-16 {
      padding-right: 4rem;
  }
}
@media (min-width: 640px) {
  .sm\:pl-10 {
      padding-left: 2.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:pb-10 {
      padding-bottom: 2.5rem;
  }
}

@media (min-width: 992px) {
  .laptopSm\:flex {
      display: flex;
  }
}
.mock_bg_banner {
  background: url(./assets/images/mock-interview.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.\!p-9 {
  padding: 2.25rem !important;
}

.processing-bg {
  background-image: url(./assets/images/processing-bg.png);
}